# MSikos Exercise 2.2 Task

## Import libraries and set system path

In [1]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

In [2]:
# Set system path
path = r'C:\Users\Stony\OneDrive\CareerFoundry\Data Specialization Course\envs\Citi-Bike'

## 2. Import data files

In [3]:
# Create a list with all files in the folder using a list compehension

folderpath = r"C:\Users\Stony\OneDrive\CareerFoundry\Data Specialization Course\envs\Citi-Bike\02 Data\Original Data" # make sure to put the 'r' in front
filepaths  = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [5]:
%%capture
# Validate path was set correctly and the list was created with all the required files. Remove the first line to see output.
filepaths

In [6]:
# Read and concatenate all files simultaneously

df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)
C:\Users\Stony\AppData\Local\Temp\ipykernel_13056\2328245103.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_citi = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [7]:
df_citi.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member

In [8]:
df_citi.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

The code I wrote in the selection above created a list of all data files in the data folder defined in the folderpath variable. Then, using pandas, a dataframe was created by concantenating and appending all of the data files in the list that was created in filepaths variable.

## 3. Obtain weather data for NYC for 2022 using NOAA's API

In [9]:
# Define your NOAA token 

Token = 'fRKhkmjnZvHLWMFFNCvSaQaeCjvIxTgb'

In [10]:
# Get the API 

r = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&datatypeid=TAVG&limit=1000&stationid=GHCND:USW00014732&startdate=2022-01-01&enddate=2022-12-31', headers={'token':Token})

In [11]:
# Load the api response as a json

d = json.loads(r.text)

In [12]:
%%capture
# Validate data was obtained from API
d

In [13]:
# Capture all lines in the API data that correspond to TAVG

avg_temps = [item for item in d['results'] if item['datatype']=='TAVG']

In [14]:
# Get only the date field from all average temperature readings

dates_temp = [item['date'] for item in avg_temps]

In [15]:
# Get the temperature from all average temperature readings

temps = [item['value'] for item in avg_temps]

In [16]:
%%capture
# Validate the data 
temps

In [17]:
# Put the results in a dataframe

df_temp = pd.DataFrame()

In [18]:
# Take the date, remove the time, and convert it to date time; convert temperature from tenths of Celsius to normal Celsius

df_temp['date'] = [datetime.strptime(d, "%Y-%m-%dT%H:%M:%S") for d in dates_temp]
df_temp['avgTemp'] = [float(v)/10.0 for v in temps]

In [19]:
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [20]:
df_temp.tail()

          date  avgTemp
360 2022-12-27     -0.7
361 2022-12-28      3.4
362 2022-12-29      6.4
363 2022-12-30      9.3
364 2022-12-31      8.2

## 4. Merge the bike trip dataframe with the temperature dataframe

In [21]:
# Verify the types of data in the bike trip dataframe

df_citi.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [24]:
# Convert start_time to datetime format
df_citi['started_at'] = pd.to_datetime(df_citi['started_at'])

In [26]:
# Split the date from the time
df_citi['date'] = pd.to_datetime(df_citi['started_at'], format='%Y-%m-%d').dt.date

In [27]:
#  Convert date to datetime format
df_citi['date'] = pd.to_datetime(df_citi['date'])

In [28]:
# Validate the changes were successful
df_temp.head()

        date  avgTemp
0 2022-01-01     11.6
1 2022-01-02     11.4
2 2022-01-03      1.4
3 2022-01-04     -2.7
4 2022-01-05      3.2

In [31]:
%%time
# Merge the trip dataframe with the temperature dataframe on the date column
df_merged = df_citi.merge(df_temp, how = 'left', on = 'date', indicator = True)

CPU times: total: 6.58 s
Wall time: 1min 9s

In [32]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,date,avgTemp,_merge
0,BFD29218AB271154,electric_bike,2022-01-21 13:13:43.392,2022-01-21 13:22:31.463,West End Ave & W 107 St,7650.05,Mt Morris Park W & W 120 St,7685.14,40.802117,-73.968181,40.804038,-73.945925,member,2022-01-21,-6.0,both
1,7C953F2FD7BE1302,classic_bike,2022-01-10 11:30:54.162,2022-01-10 11:41:43.422,4 Ave & 3 St,4028.04,Boerum Pl\t& Pacific St,4488.09,40.673746,-73.985649,40.688489,-73.991160,member,2022-01-10,1.6,both
2,95893ABD40CED4B8,electric_bike,2022-01-26 10:52:43.096,2022-01-26 11:06:35.227,1 Ave & E 62 St,6753.08,5 Ave & E 29 St,6248.06,40.761227,-73.960940,40.745168,-73.986831,member,2022-01-26,-2.3,both
3,F853B50772137378,classic_bike,2022-01-03 08:35:48.247,2022-01-03 09:10:50.475,2 Ave & E 96 St,7338.02,5 Ave & E 29 St,6248.06,40.783964,-73.947167,40.745168,-73.986831,member,2022-01-03,1.4,both
4,7590ADF834797B4B,classic_bike,2022-01-22 14:14:23.043,2022-01-22 14:34:57.474,6 Ave & W 34 St,6364.10,5 Ave & E 29 St,6248.06,40.749640,-73.988050,40.745168,-73.986831,member,2022-01-22,-5.9,both

In [33]:
# Validate the number of rows in the merged dataframe
df_merged['_merge'].value_counts(dropna = False)

_merge
both          29838166
left_only          640
right_only           0
Name: count, dtype: int64

In [35]:
# Export merged dataframe
df_merged.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'merged_data.csv'))

In [36]:
df_merged.shape

(29838806, 16)